  <div class="item">
    <div class="col-md-4 card" style="width: 18rem;">
      <img class="card-img-top" [src]="card.imgSrc" style="width: 275px; height: 190px;" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <hr>
        <p class="card-text">{{ card.desc }}</p>
        <div class="row">
          <h4> {{ card.price }} RSD</h4>
          <input type="submit" (click)="addItem(card)" value="Dodaj u korpu" class="btn btn-secondary">
        </div>
      </div>
    </div>
  </div>
